
// MINIPRINT PRINT PREVIEW IMAGE BUTTONS

HP_END		BITMAP	HP_END.BMP
HP_TOP		BITMAP	HP_TOP.BMP
HP_NEXT		BITMAP	HP_NEXT.BMP
HP_BACK		BITMAP	HP_BACK.BMP
HP_PRINT	BITMAP	HP_PRINT.BMP
HP_ZOOM		BITMAP	HP_ZOOM.BMP
HP_GOPAGE	BITMAP	HP_GOPAGE.BMP
HP_CLOSE	BITMAP	HP_CLOSE.BMP
HP_SAVE		BITMAP	HP_SAVE.BMP
HP_THUMBNAIL	BITMAP	hp_thumbnail.bmp
HP_GLASS	CURSOR	HP_GLASS.CUR
